.splash-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.splash--grid:first-child {
  background-image: linear-gradient(to bottom right, #054592 0, #1897d4);
  text-align: center;
}
.splash--grid {
  padding: 2rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.splash-inner {
  color: #fff;
  margin-bottom: auto;
  margin-top: auto;
}
.splash-content {
  display: none;
  text-align: right;
}
.splash--logo {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.splash--title {
  font: 2rem Vazir, roboto;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.splash--subtitle {
  color: #062c45;
  font: 1rem Vazir, roboto;
  font-weight: 700;
  margin: 0 auto;
}
.splash--subtitle {
  display: none;
}
.splash--grid:nth-child(2) .splash-inner {
  color: #5b5b5b;
  position: relative;
  width: 100%;
}
.splash--grid:nth-child(2) .splash--title {
  color: #107abe;
  font-family: Vazir, roboto;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.form-section-inner .splash--title {
  margin-bottom: 15px !important;
}
.splash--grid:nth-child(2) .splash--subtitle {
  display: block;
}
.form-section-inner .splash--subtitle {
  color: #5b5b5b;
  font-weight: 400;
}

.text-link.terms {
  text-align: center;
}
.text-link.terms a {
  border-bottom: 1px solid #818181;
  color: #818181;
}

.input-field {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 99rem;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
  display: block;
  height: 48px;
  outline: none;
  padding: 0 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  direction: auto;
}
.register {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .splash-container {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
  .splash--grid:first-child {
    flex: 2 0 0;
    height: auto;
  }
  .splash--grid {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .splash--grid:nth-child(2) {
    flex: 0 0 500px;
  }
  .splash-inner {
    min-height: 300px;
  }
  .splash-header {
    margin-bottom: 2rem;
  }
  .splash-header {
    margin-bottom: 2rem;
  }
  .splash--subtitle {
    display: block;
  }
  .splash--grid:nth-child(2) .splash-inner {
    top: 6.5rem;
  }
}
